<div class="blend">
<p>Idea＊Chat</p>
</div>

<div class="information">
  <div class="information-title">
    Idea＊Chatについて
      <p class="information-message">
        起業や新規事業を考えている方が対象になります。特定のチャット部屋を立ち上げ（または入室する）ことで匿名の第三者と１対１で意見交換することができます。自分だけのアイディアを閃いたけど、第三者の意見が聞きたい、相談したい人向けのアプリケーションです。また、相談内容をいつまでもデータベースに残したくない方のために、ルームを退出することでデータベースから削除される仕様になっています。
      </p>
  </div>

  <div class="information-title">
    ご利用方法
      <p class="information-message">
        サイドバー上部の「チャットを作成する」より、ルームを作成してください。作成後は任意のルームに入室し、他ユーザーが入出したらチャットを開始してください。お互いの意見を交わし、終了したら任意のタイミングで退出します。退出することで、チャットルームは自動で削除されます。<br>
        サイドバー下部のユーザー名より、アカウント情報を編集することが出来ます。ログアウトする場合もこちらより操作してください。
      </p>
  </div>

  <div class="information-title">
    注意事項
      <p class="information-message">
        Idea＊Chatはポートフォリオサイトです。まだ実装させたい機能、動作が重かったりと改善に向けて、1つずつ修正しております。実験的に作成している部分もありますので完全な完成までは考えておりません。ご了承ください。
      </p>
  </div>
</div>

